<div class="row">
  <div class="col-md-9">
    <h1> Mes lieux</h1>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-md-9">
    <table class="table">
      <thead class="thead-default">
        <tr>
          <th>#</th>
          <th>Nom</th>
          <th>Code</th>
        </tr>
      </thead>
      <tbody>
    <tr *ngFor="let place of userChoices; let i = index;">
      <th scope="row">{{i+1}}</th>
      <td>{{place.nom}}</td>
      <td>{{place.code}}</td>
    </tr>
        <!--tr *ngFor = "let activity of activities; let i = index;">

        <th scope="row">{{i+1}}</th>
         <td >
              {{activity.name}}
         </td>
         <td >

         </td>

    <tr>
      <th scope="row">2</th>
      <td>voile</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>plage</td>
      <td></td>
    </tr-->
      </tbody>
    </table>
  </div>
  <div class="">
    <a (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="addPlaceCollapse" class="pull-right"><i class="fa fa-plus fa-2x" style="color:green" aria-hidden="true"></i></a>
  </div>
</div>

<div id="addPlaceCollapse" [ngbCollapse]="!isCollapsed">
  <div class="row justify-content-center">
    <div class="col-md-3 form-group">
      <label>Regions</label>
      <select [(ngModel)]="selectedRegion" (change)="chargerDep()" class="form-control">
      <option *ngFor="let region of listRegions" [ngValue]="region"> {{region.nom}} </option>
    </select>
    </div>

    <div class="col-md-3 form-group">
      <label>Départements</label>
      <select [(ngModel)]="selectedDep" (change)="chargerCom()" class="form-control">
      <option *ngFor="let dep of listDepartements" [ngValue]="dep"> {{dep.nom}} </option>
    </select>
    </div>

    <div class="col-md-3 form-group">
      <label>Villes</label>
      <select [(ngModel)]="selectedCom" (change)="infoCom()" class="form-control">
      <option *ngFor="let com of listCommunes" [ngValue]="com"> {{com.nom}} </option>
    </select>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-9">
      <h4>Lieu Sélectionné: {{information}}</h4>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-9">
      <button type="button" style="margin: 5px" (click)="setChoice()" [disabled]="!isValidForm()" class="float-right btn btn-primary">Ajouter</button>
    </div>
  </div>

  

  <div class="row justify-content-center">
    <div class="col-md-9">
      <button type="button" (click)="nextStep()" [disabled]="isEmpty()" class="float-right btn btn-primary">Etape suivante</button>
    </div>
  </div>
</div>
