<footer class="row footer justify-content-center">
  <div class="">
    <div class="">
      WeekendPlanning Footer copirigth ...
    </div>
    <div>
      <!--logo footer-->
    </div>
    <div>
      <!--pages footer-->
    </div>
    <div class="row justify-content-center">
      <!--techno footer-->
      <div class="col-md-2">
        <i class="icon-javascript-alt fa-2x" style="color:yellow"></i>
      </div>
      <div class="col-md-2">
        <i class="icon-angular fa-2x" style="color:red"></i>
      </div>
      <div class="col-md-2">
        <i class="icon-css3 fa-2x" style="color:green"></i>
      </div>
      <div class="col-md-2">
        <i class="icon-bootstrap fa-2x" style="color:purple"></i>
      </div>
      <div class="col-md-2">
        <i class="icon-java-bold fa-2x" style="color:blue"></i>
      </div>
      <div class="col-md-2">
        <i class="icon-spring fa-2x" style="color:green"></i>
      </div>
    </div>
    <div>
      <!--bottom footer-->
      <div>

      </div>
    </div>
  </div>
</footer>
