<footer>
  <div class="footer" id="footer">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-3 ">
          <!--logo footer-->
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-3">
          <!--pages footer-->
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-md-4">
          <!--techno footer-->
          <ul class="techno">
            <li><i class="icon-javascript-alt fa-2x" style="color:gray"></i></li>
            <li><i class="icon-angular fa-2x" style="color:gray"></i></li>
            <li><i class="icon-css3 fa-2x" style="color:gray"></i></li>
            <li><i class="icon-bootstrap fa-2x" style="color:gray"></i></li>
            <li><i class="icon-java-bold fa-2x" style="color:gray"></i></li>
            <li><i class="icon-spring fa-2x" style="color:gray"></i></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom justify-content-center">
    <div class="container">
      <p class="pull-left"> Copyright © Weekend Planning 2017. All right reserved. </p>
      <div class="pull-right">
        <ul class="nav nav-pills payments">
          <li><i class="fa fa-cc-visa"></i></li>
          <li><i class="fa fa-cc-mastercard"></i></li>
          <li><i class="fa fa-cc-amex"></i></li>
          <li><i class="fa fa-cc-paypal"></i></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
